<div>
    <h2>Bienvenido a la tienda</h2>
    <a href="http://localhost:8080/register">Registrate</a>
    <br>
    <a href="http://localhost:8080/login">logueate</a>
    <br>
    <a href="http://localhost:8080/profile">mi profile</a>
    <br>
    <a href="http://localhost:8080/products"> lista de productos, recuerda estar logueado</a>
</div>
